:root{
    /* color */
    --color-text:#FFFFFF;
    --color-primary:#576dbc;
    --color-secondary:#19376d;
    --color-dark:#0b2447;
    --color-bg:#04152d;

    /* fonts */
    --font-roboto:"Roboto";

}